@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #f4f5f9; }

h1 {
  text-transform: uppercase;
  margin: 10px auto; }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 70px; } }

p {
  font-size: 12px; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    .wrapper {
      width: 1124px; } }

header {
  background-image: url(../images/header/Foreground.png);
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  color: #f4f5f9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px; }
  header nav {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    height: 30px; }
  header ul {
    list-style-type: none;
    display: flex;
    align-items: center; }
  header h3 {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize; }

#header__menu {
  display: none; }

#header__logo {
  width: 85px; }
  #header__logo img {
    width: 100%; }

#header__icon {
  width: 40px;
  position: absolute;
  bottom: -20px; }

.burger {
  position: relative;
  padding: 7px 0; }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #f4f5f9;
    margin: 3px 0;
    transition: 0.3s;
    position: relative; }
  .burger__burger__menu {
    display: none; }
  .burger:hover span:first-of-type {
    transform: rotate(45deg);
    top: 6px; }
  .burger:hover span:last-of-type {
    transform: rotate(-45deg);
    top: -1px; }
  .burger:hover span:nth-of-type(2) {
    display: none; }
  .burger:hover .burger__menu {
    display: block; }

.burger__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -250%;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  text-transform: uppercase;
  z-index: 10; }
  .burger__menu a {
    transition: 0.3s;
    border-bottom: 1px solid transparent; }
  .burger__menu li {
    white-space: nowrap;
    padding: 3px; }
    .burger__menu li:hover a {
      border-color: #e74c3c;
      font-weight: bold;
      color: #e74c3c; }

.slider {
  margin-top: 40px; }
  .slider__arrows {
    display: none; }
  .slider__content {
    text-align: center; }
    .slider__content p {
      text-transform: capitalize; }
    .slider__content img {
      margin-bottom: 10px; }
    .slider__content p:last-of-type {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px; }
  .slider__buttons {
    width: 45%;
    height: 40px;
    text-transform: uppercase;
    color: #f4f5f9;
    border-radius: 3px; }
    .slider__buttons:first-of-type {
      background-color: #e74c3c;
      border: 1px solid #e74c3c; }
    .slider__buttons:last-of-type {
      background-color: transparent;
      border: 1px solid #f4f5f9; }

.blog .wrapper {
  width: 100%;
  padding-top: 50px; }
.blog__title {
  text-align: center;
  margin-bottom: 30px; }
  .blog__title p {
    color: #999999;
    margin: 15px auto;
    width: 90%; }
  .blog__title h2 {
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: 20px; }
.blog__main-article {
  display: flex;
  height: 600px;
  flex-direction: column;
  position: relative;
  background-color: #e74c3c; }
  .blog__main-article div:first-of-type {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center; }
  .blog__main-article #article__image-1 {
    background-image: url(../images/blog/1.png); }
  .blog__main-article #article__image-2 {
    background-image: url(../images/blog/2.png); }
  .blog__main-article #article__image-3 {
    background-image: url(../images/blog/3.png); }
  .blog__main-article #article__image-4 {
    background-image: url(../images/blog/4.png); }
  .blog__main-article div:last-of-type {
    background-image: url(../images/blog/back-info.png);
    background-position: top;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    position: absolute;
    bottom: 30px; }
  .blog__main-article p {
    color: #f4f5f9;
    margin: 30px 0; }
  .blog__main-article h4 {
    color: #f4f5f9;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: normal; }
    .blog__main-article h4::after {
      content: "";
      display: block;
      background-color: #f4f5f9;
      height: 3px;
      width: 30px;
      margin-top: 5px; }
  .blog__main-article a {
    display: inline-block;
    text-transform: capitalize;
    font-style: italic;
    transition: 0.3s; }
    .blog__main-article a:hover {
      transform: scale(1.1); }
  .blog__main-article img {
    transform: rotate(90deg);
    position: absolute;
    bottom: -25px; }
  .blog__main-article .hidden__header-768 {
    display: none; }
.blog__social {
  padding: 30px;
  background-image: url(../images/blog/background-social.png);
  background-size: cover;
  background-position: center;
  color: #f4f5f9; }
  .blog__social p {
    text-transform: capitalize; }
  .blog__social span {
    font-weight: bold;
    font-size: 20px; }
  .blog__social > div {
    display: flex;
    align-items: center;
    padding: 10px; }

.social__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f4f5f9;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social__icon::after {
    width: 30px;
    height: 30px; }
  .social__icon#social__icon-1::after {
    content: url(../images/blog/icons/1.png); }
  .social__icon#social__icon-2::after {
    content: url(../images/blog/icons/2.png); }
  .social__icon#social__icon-3::after {
    content: url(../images/blog/icons/3.png); }
  .social__icon#social__icon-4::after {
    width: 22px;
    content: url(../images/blog/icons/4.png); }
  .social__icon#social__icon-5::after {
    content: url(../images/blog/icons/5.png); }

.pricing {
  padding-top: 50px; }
  .pricing__title {
    text-align: center;
    margin-bottom: 30px; }
    .pricing__title p {
      color: #999999;
      margin: 15px auto;
      width: 90%; }
    .pricing__title h2 {
      text-transform: uppercase;
      color: #6a6a6a;
      font-size: 20px; }
  .pricing__main-card {
    text-align: center;
    margin-bottom: 20px;
    transition: 0.3s; }
    .pricing__main-card ul {
      list-style-type: none;
      color: #999999;
      margin: 50px 0; }
    .pricing__main-card li {
      padding: 10px 0;
      font-size: 14px; }
    .pricing__main-card h4 {
      font-size: 20px;
      text-transform: uppercase;
      color: #f4f5f9;
      margin-bottom: 50px; }
    .pricing__main-card > div {
      position: relative;
      padding: 30px; }
      .pricing__main-card > div:nth-child(1) {
        background: #6a6a6a;
        display: flex;
        justify-content: center; }
      .pricing__main-card > div:nth-child(2) {
        background: #f4f5f9; }
    .pricing__main-card#suggested > div:nth-child(1) {
      background: #e74c3c; }
    .pricing__main-card#suggested .card-price span {
      color: #e74c3c; }
    .pricing__main-card button {
      width: 45%;
      height: 40px;
      text-transform: uppercase;
      color: #f4f5f9;
      border-radius: 3px;
      transition: 0.3s; }
      .pricing__main-card button#price__btn-starter {
        background: #6a6a6a;
        border: 1px solid #6a6a6a; }
      .pricing__main-card button#price__btn-premium {
        background: #e74c3c;
        border: 1px solid #e74c3c; }
      .pricing__main-card button#price__btn-business {
        background: #6a6a6a;
        border: 1px solid #6a6a6a; }
      .pricing__main-card button:hover {
        transform: scale(1.1); }
    .pricing__main-card:hover {
      transform: scale(1.05); }

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 80px;
  z-index: 2;
  width: 100px;
  height: 100px;
  border: 10px solid #f4f5f9; }
  .card-price p {
    color: #6a6a6a; }
  .card-price span {
    color: #6a6a6a;
    font-weight: bold;
    font-size: 30px; }

.team {
  background-image: url(../images/team/team-background.png);
  background-size: cover;
  background-position: center;
  padding: 50px 20px 20px 20px; }
  .team__title {
    text-align: center;
    margin-bottom: 30px; }
    .team__title p {
      color: #f4f5f9;
      margin: 15px auto;
      width: 90%; }
    .team__title h2 {
      text-transform: uppercase;
      color: #f4f5f9;
      font-size: 20px; }
  .team__main-teammate {
    display: flex;
    color: #f4f5f9;
    align-items: center;
    margin-bottom: 30px; }
    .team__main-teammate span {
      color: #e74c3c;
      font-weight: bold;
      font-size: 18px; }
  .team__main #teammate-1 .teammate-avatar {
    background-image: url(../images/team/teammates/1.png); }
  .team__main #teammate-2 .teammate-avatar {
    background-image: url(../images/team/teammates/2.png); }
  .team__main #teammate-3 .teammate-avatar {
    background-image: url(../images/team/teammates/3.png); }
  .team__main #teammate-4 .teammate-avatar {
    background-image: url(../images/team/teammates/4.png); }
  .team__main #teammate-5 .teammate-avatar {
    background-image: url(../images/team/teammates/5.png); }

.teammate-avatar {
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  border: 2px solid #e74c3c;
  transition: 0.3s; }

.communication {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #f4f5f9; }
  .communication__title {
    text-align: center;
    margin-bottom: 30px; }
    .communication__title p {
      color: #999999;
      margin: 15px auto;
      width: 90%; }
    .communication__title h2 {
      text-transform: uppercase;
      color: #6a6a6a;
      font-size: 20px; }
  .communication__main-contacts {
    padding: 30px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    margin-bottom: 20px; }
    .communication__main-contacts div {
      margin: 20px; }
    .communication__main-contacts span {
      color: #e74c3c;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
    .communication__main-contacts p {
      color: #999999; }
    .communication__main-contacts a {
      color: #999999; }
  .communication__main-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 20px; }
    .communication__main-form input {
      border: 1px solid transparent;
      border-bottom-color: #999999;
      padding: 10px;
      margin-bottom: 10px;
      width: 90%;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      outline: none; }
      .communication__main-form input:focus {
        outline: none;
        border-color: #e74c3c; }
    .communication__main-form textarea {
      border: 1px solid transparent;
      border-bottom-color: #999999;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      width: 90%;
      resize: none; }
      .communication__main-form textarea:focus {
        outline: none;
        border-color: #e74c3c; }

#submit-form {
  width: 45%;
  height: 40px;
  text-transform: uppercase;
  color: #f4f5f9;
  border-radius: 3px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  display: block;
  margin: 0 auto; }

footer {
  background: #202020;
  text-align: center;
  padding: 20px; }
  footer a {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    transition: 0.3s; }
    footer a:hover {
      transform: scale(1.1); }
  footer p {
    text-transform: capitalize;
    color: #999999; }
  footer .wrapper {
    height: 100px; }

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__social a {
    display: block;
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px 10px;
    transition: 0.3s; }
  .footer__social .footer__social-facebook {
    background-image: url(../images/footer/icons/facebook.svg); }
    .footer__social .footer__social-facebook:hover {
      background-image: url(../images/footer/icons/facebook-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-twitter {
    background-image: url(../images/footer/icons/twitter.svg); }
    .footer__social .footer__social-twitter:hover {
      background-image: url(../images/footer/icons/twitter-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-rss {
    background-image: url(../images/footer/icons/rss.svg); }
    .footer__social .footer__social-rss:hover {
      background-image: url(../images/footer/icons/rss-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-google {
    background-image: url(../images/footer/icons/google.svg); }
    .footer__social .footer__social-google:hover {
      background-image: url(../images/footer/icons/google-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-linkedin {
    background-image: url(../images/footer/icons/linkedin.svg); }
    .footer__social .footer__social-linkedin:hover {
      background-image: url(../images/footer/icons/linkedin-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-skype {
    background-image: url(../images/footer/icons/skype.svg); }
    .footer__social .footer__social-skype:hover {
      background-image: url(../images/footer/icons/skype-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-vimeo {
    background-image: url(../images/footer/icons/vimeo.svg); }
    .footer__social .footer__social-vimeo:hover {
      background-image: url(../images/footer/icons/vimeo-red.svg);
      transform: scale(1.3); }
  .footer__social .footer__social-tumblr {
    background-image: url(../images/footer/icons/tumblr.svg); }
    .footer__social .footer__social-tumblr:hover {
      background-image: url(../images/footer/icons/tumblr-red.svg);
      transform: scale(1.3); }

@media screen and (min-width: 768px) {
  header nav {
    justify-content: space-around; }
  header h3 {
    font-size: 16px; }
  header .burger {
    display: none; }
  header .slider p:last-of-type {
    width: 60%; }
  header .slider__buttons {
    width: 30%;
    margin: 0 3px;
    transition: 0.3s; }
    header .slider__buttons:hover {
      transform: scale(1.05); }

  #header__menu {
    display: flex; }
    #header__menu li {
      margin: 0 10px;
      text-transform: uppercase;
      transition: 0.3s;
      border-bottom: 1px solid transparent; }
      #header__menu li:hover {
        border-color: #e74c3c; }
      #header__menu li:hover a {
        color: #e74c3c; }
    #header__menu a {
      transition: 0.3s;
      display: block;
      margin-bottom: 10px;
      font-size: 12px; }

  #header__logo {
    transition: 0.3s; }
    #header__logo:hover {
      transform: scale(1.1); } }
@media screen and (min-width: 1200px) {
  header h3 {
    font-size: 20px; }

  .slider {
    display: flex; }
    .slider__arrows {
      display: flex;
      align-items: center;
      width: 35%; }
      .slider__arrows button {
        width: 40px;
        height: 40px;
        background-image: url(../images/header/slider/left.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #6a6a6a;
        border-color: transparent;
        border-radius: 2px;
        transition: 0.3s;
        outline: none; }
      .slider__arrows#slider__arrows-right {
        justify-content: flex-end; }
        .slider__arrows#slider__arrows-right button {
          background-image: url(../images/header/slider/right.svg); }
      .slider__arrows:hover #slider__arrows-right {
        background-color: #e74c3c;
        transform: scale(1.1); }
      .slider__arrows:hover #slider__arrows-left {
        background-color: #e74c3c;
        transform: scale(1.1); }
    .slider__content {
      text-align: center; }
      .slider__content-btns {
        display: flex;
        justify-content: center; }
    .slider p:last-of-type {
      width: 70%; }
    .slider__buttons {
      margin: 0 10px; }

  #header__menu {
    display: flex; }
    #header__menu li {
      margin: 0 20px; }
    #header__menu a {
      font-size: 14px; } }
@media screen and (min-width: 768px) {
  .blog .wrapper {
    max-width: 100%; }
  .blog__title h2 {
    font-size: 30px; }
  .blog__title p {
    font-size: 14px; }
  .blog__main {
    display: flex;
    flex-wrap: wrap; }
    .blog__main-article {
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: row; }
      .blog__main-article div:first-of-type {
        height: 100%; }
      .blog__main-article div:last-of-type {
        padding: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/blog/back-info-left.png);
        position: static; }
      .blog__main-article a {
        margin-left: 30px; }
      .blog__main-article p {
        font-size: 13px;
        margin: 40px 30px 20px 30px; }
      .blog__main-article h4 {
        font-size: 20px;
        margin: 20px 30px;
        position: relative; }
        .blog__main-article h4::after {
          width: 50px; }
        .blog__main-article h4::before {
          width: 30px;
          height: 30px;
          position: absolute; }
      .blog__main-article .article__header-left::before {
        content: url(../images/blog/shape-left.png);
        top: 120px;
        left: -55px; }
      .blog__main-article .article__header-right::before {
        content: url(../images/blog/shape-right.png);
        top: 120px;
        right: -58px; }
    .blog__main-article:nth-of-type(2) {
      flex-direction: row-reverse; }
    .blog__main-article:nth-of-type(4) {
      flex-direction: row-reverse; }
  .blog__social {
    display: flex;
    justify-content: space-between;
    min-height: 250px; }
    .blog__social p {
      font-size: 12px; }
    .blog__social span {
      font-size: 22px; }
    .blog__social > div {
      flex-direction: column;
      justify-content: center; }

  .social__info {
    text-align: center;
    margin-top: 20px; }

  .social__icon {
    margin-right: 0; } }
@media screen and (min-width: 1200px) {
  .blog__title h2 {
    font-size: 36px; }
  .blog__main {
    display: flex;
    flex-wrap: wrap; }
    .blog__main-article {
      height: 450px;
      width: 50%; }
      .blog__main-article p {
        font-size: 16px; }
      .blog__main-article h4 {
        font-size: 24px; }
      .blog__main-article .hidden__header-1200 {
        display: none; }
      .blog__main-article .hidden__header-768 {
        display: block; }
    .blog__main-article:nth-of-type(2) {
      flex-direction: row; }
    .blog__main-article:nth-of-type(3) {
      flex-direction: row-reverse; }
    .blog__main-article:nth-of-type(4) {
      flex-direction: row-reverse; }
  .blog__social {
    justify-content: center;
    min-height: 420px; }
    .blog__social p {
      font-size: 14px; }
    .blog__social span {
      font-size: 30px; }
    .blog__social > div {
      margin: 0 50px; } }
@media screen and (min-width: 768px) {
  .pricing__title h2 {
    font-size: 28px; }
  .pricing__title p {
    font-size: 14px; }
  .pricing__main {
    display: flex;
    justify-content: space-between; }
    .pricing__main-card {
      width: 32%; }
      .pricing__main-card button {
        min-width: 130px; } }
@media screen and (min-width: 1200px) {
  .pricing__title h2 {
    font-size: 36px; } }
@media screen and (min-width: 768px) {
  .team__title h2 {
    font-size: 28px; }
  .team__title p {
    font-size: 14px; }
  .team__main > div {
    display: flex;
    justify-content: center; }
  .team__main-teammate {
    margin-right: 20px; } }
@media screen and (min-width: 1200px) {
  .team {
    height: 640px;
    background-image: url(../images/team/curve.png); }
    .team__title h2 {
      font-size: 36px; }
    .team__main {
      display: flex;
      justify-content: space-evenly;
      position: relative; }
      .team__main-teammate {
        width: 160px;
        flex-direction: column;
        position: absolute;
        transition: 0.3s; }
        .team__main-teammate span {
          margin-bottom: 5px; }
        .team__main-teammate:hover .teammate-avatar {
          transform: scale(1.3); }
        .team__main-teammate:hover .teammate-info {
          display: flex; }
      .team__main #teammate-1 {
        top: 200px;
        left: 72px; }
      .team__main #teammate-2 {
        top: 170px;
        left: 273px; }
      .team__main #teammate-3 {
        top: 170px;
        left: 471px; }
      .team__main #teammate-4 {
        top: 200px;
        left: 675px; }
      .team__main #teammate-5 {
        top: 204px;
        left: 869px; }

  .teammate-avatar {
    margin-right: 0; }

  .teammate-info {
    flex-direction: column;
    align-items: center;
    display: none; }

  .teammate-line {
    transition: 0.3s;
    width: 1px;
    height: 30px;
    background-color: #999999;
    margin-bottom: 20px; } }
@media screen and (min-width: 768px) {
  .communication__title h2 {
    font-size: 28px; }
  .communication__title p {
    font-size: 14px; }
  .communication__main {
    display: flex; }
    .communication__main-contacts {
      margin-right: 20px;
      width: 45%;
      padding: 30px;
      padding-top: 50px;
      box-sizing: border-box; }
      .communication__main-contacts span {
        font-size: 18px; }
      .communication__main-contacts p {
        font-size: 14px; }
      .communication__main-contacts a {
        font-size: 14px; }
    .communication__main-form {
      padding-top: 60px; }
      .communication__main-form form {
        width: 90%;
        margin: 0 auto; }

  #submit-form {
    margin: 0;
    transition: 0.3s; }
    #submit-form:hover {
      transform: scale(1.1); } }
@media screen and (min-width: 1200px) {
  .communication__title h2 {
    font-size: 36px; }
  .communication__main-contacts {
    box-sizing: border-box;
    padding: 50px; }
    .communication__main-contacts span {
      font-size: 22px; }
  .communication__main-form form {
    width: 70%; } }
@media screen and (min-width: 768px) {
  footer .wrapper {
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-between; }
    footer .wrapper p {
      display: flex;
      align-items: flex-end; }

  #footer__btn-top {
    position: absolute;
    right: 0px;
    bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
